.blog-main{
	.blog-filter{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		md-input-container{
			min-width: 200px;
		}
	}
	.blog-content{
		.single-blog{
			@include split-content($image-width: 350px, $copy-width: calc( 100% - 350px ), $copy-vertical-padding: 0, $copy-vertical-align:top, $copy-text-align: left);
			margin-bottom: 30px;

			.split-image{
				img{
					width: 100%;
					height: 350px;
					object-fit: cover;
				}
			}

			.split-copy{
				h2{
					font-size: 1.2rem;
				}
				.buttons{
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					>div{
						margin-right: 10px;
					}
				}
			}

			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.load-more{
		color: $brand-secondary;
		display: block;
		cursor: pointer;
	}
}

.single-post{
	.post-main{
		.author{
			img{
				border-radius: 50%;
				width: 40px;
				height: 40px;
			}
		}
	}
}

.post-thumbnail{
	width: 100%;
	height: 400px;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: 50% 0%;
	}
}

.post-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.post-content-main{
		h2{
			font-size:1rem;
			@include breakpoint($screen-sm-min){
				font-size: 1.1rem;
			}
		}

		width: 100%;

		@include breakpoint($screen-sm-min){
			width: calc( 100% - 350px);
		}
	}
	.post-content-sidebar{
		width: 100%;
		@extend .mt-md;

		@include breakpoint($screen-sm-min){
			width: 300px;
			margin-top: 0;
		}

		.recent-post{
			h2{
				@extend .h3;
				color: $brand-secondary;
				margin-top: 0;
				margin-bottom: 15px;
				text-transform: uppercase;
			}
			ul{
				padding: 0;
				list-style: none;
				li{
					a{
						color: #333;
					}

					border-top: 1px solid #333;
					padding: 10px 0;

					&:last-child{
						border-bottom: 1px solid #333;
					}
				}
			}
		}
		.blog-filter{
			h2{
				@extend .h3;
				color: $brand-secondary;
				margin-top: 0;
				margin-bottom: 15px;
				text-transform: uppercase;
			}
			@extend .pb-md;
			>div{
				margin-bottom: 10px;
			}
		}
	}
}

.active_search{
	position:relative;
	overflow:auto;
	.search-button{
		position:absolute;
		right: 0;
	    top: 0;
	   	width: 35px;
	    height: 100%;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    cursor: pointer;
	}
	.md-errors-spacer{
		display: none;
	}
}