.flexible-content{
	.video{
		position:relative;
		video{
			width: 100%;
			display: block;
		}
		.play-button{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			.fa-play-circle{
				font-size: 60px;    
				color: #fff;
		    	opacity: .85;
			}

			&.playing{
				opacity: 0;
			}
		}
	}
}

.home-service{
	.flexible-content{
		@include split-content($image-width: 140px, $copy-width: calc( 100% - 140px ), $copy-vertical-align: top, $copy-text-align: left, $copy-vertical-padding: 0);
	}
	.split-image{
		@include breakpoint(max-width $screen-sm-min){
			display: none;
		}
	}
	.split-copy{
		@include breakpoint(max-width $screen-sm-min){
			padding: 0 !important;
		}
	}
}