footer{
	#site-legal{
		color: #fff;
		font-size: .9rem;
		border-top: 1px solid #fff;
	}

	.nav-footer{
		margin:0 !important;

		#footer-navigation{
			display: flex;
			flex-wrap: wrap;
			>li{
				width: 100%;
				padding: gutter();
				box-sizing: border-box;

				@include breakpoint($screen-sm-min){
					width: 50%;	
				}


				@include breakpoint($screen-lg-min){
					width: 25%	
				}

				>a{
					text-transform: uppercase;
					color: #fff;
					padding-left: 0;
					padding-right: 0;
					padding-top: 0;

					&:hover{
						color: #fff;
						background-color: transparent;
					}
				}
				>.sub-menu{
					>li{
						>a{
							color: $brand-secondary;
							padding: 0;
							font-size: .9rem;

							&:hover{
								color: $brand-secondary;
								background-color: transparent;
							}
						}
					}
				}
			}
		}
	}
}