// Layout
	.gform_wrapper{
		padding: gutter();

		
		form{
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			align-items: center;
			flex-wrap: nowrap;

			.gform_heading{
				width: susy-span(12); 
				margin-bottom: gutter();
			} 
			
			.gform_body{
				width: susy-span(12);
			}
			
			.gform_footer{
				width: susy-span(12);

				// Place submitt button on right side
				text-align: right;
			}

		}
	}  


// Gravity Fields
.gform_fields{
	list-style-type: none;
	margin: 0;
	padding: 0;
 
	.gfield_description{
		width: susy-span(10);
		margin-left: susy-span(2 wide);
		margin-top: gutter() / 2;
	} 

}

// Horizontal Layout
.form-horizontal .gfield{
	margin-bottom: gutter();
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;

	.gfield_label{
		width: susy-span(2);
		text-align: right; 
	}
	
	.ginput_container{
		width: susy-span(10);
	}

	// NAME first and last. 
	.ginput_complex{
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: nowrap;

		span{width: susy-span(6);}
	}

	// Usually Time IE: Hour - Minute - AM/PM
	.clear-multi{
		display: flex;
		justify-content: flex-start;
		flex-direction: row;
		flex-wrap: nowrap;
		width: susy-span(10);

		.gfield_time_hour, .gfield_time_minute, .gfield_time_ampm {
			width: susy-span(5);
			max-width: 100px;
			padding: 0 1.1rem 0 0;
		}
		
		.gfield_time_ampm{
			width: susy-span(2);
		}
	}

	// List 
	.gfield_list{
		@extend .table;

		.gfield_list_cell, .gfield_list_icons{
			border-color: transparent;
		}
	}

	// Checkbox and Radio Selection
	.gfield_checkbox, .gfield_radio{
		@include list-unstyled;

		li{
			display: flex;
			justify-content: flex-start;
			align-items: center;

			input{
				margin: 0;
				padding: 0; 
			}

			label{
				margin: 0;
				padding: 0.5rem;
			}
		}
	} 

}

// bootstrap input styling
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	input[type="number"],
	input[type="tel"],
	input[type="range"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="color"],
	input[type="file"],
	textarea, select {
		@extend .form-control;
	} 

// Buttons
.gform_button.button{
	@extend .btn;
	@extend .cta-secondary; 
	@extend .btn-lg;
}

// Validation
.gfield_required{
	color: $brand-danger;
	margin-left: 0.5rem; 
} 

	.gform_validation_error{


		// Main error information in form header
		.validation_error{ 
			@extend .bg-danger;
			padding: gutter() / 2;   
			margin: 0 0 gutter();
			width: susy-span(12);  
			font-size: floor((100% * $font-size-small / $font-size-base));

		}

		// Validation_message
		.validation_message{
			color: $brand-danger;
			font-size: floor((100% * $font-size-small / $font-size-base));
		}

		// Highlight input fields on error
		.gfield_error input, select{
			background-color: lighten($brand-danger, 35%);
		}

	}


.gform_wrapper{
	font-size: 13px;
	background-color: #fff;
	box-shadow: 0 0 5px #ababab;
	form{
		.gfield_label{
			display: none !important;
		}

		li.gfield{
			padding-right: 0 !important;
			margin-top: 10px !important;
		}

		input, select, textarea{
			width: 90% !important;
			margin: auto auto !important;
		}

		input[type=text], select, textarea{
			background-color: transparent;
			box-shadow: none;
			border-radius: 0;
			border: 0;
			border-bottom: 1px solid $brand-primary;
		}

		.gform_footer{
			text-align: center !important;
			.gform_button{
				border-radius: 0;
				text-transform: uppercase;
			}
		}

	}
	h2.h2{
		margin: 0;
	    padding: 15px 10px;
	    margin-top: -45px;
	    background-color: $brand-primary;
	    text-align: center;
	    color: #fff;
	    border-radius: 0 0 5px 5px;
	    box-shadow: 0px 2px 3px #a5a5a5;
	    position: relative;
	    text-shadow: 0 0 6px #636363;
		font-weight: 600;

	    &::after{
		    content: '';
		    width: 0;
		    height: 0;
		    border-top: 20px solid transparent;
		    border-right: 14px solid transparent;
		    border-left: 15px solid $brand-primary-light;
		    position: absolute;
		    right: -29px;
		    top: 0;
	    }
	}
}