.site-header{
	z-index:999;

	.mobile-toggle,.navbar-header{
		display:none;
	}

	&.sticky-header{
		position:fixed;
		width:100%;
		left:0;
		top:0;
		background-color: $sticky-header-bg-color;
	}
	.header-content{
		.utility-bar{
			font-size: 14px;
			background-color: $brand-primary;
			padding: 8px gutter();

			>div{
				display: flex;
    			justify-content: center;

    			@include breakpoint($screen-sm-min){
					justify-content: space-between;
				}

    			.right{
					display:flex;
    				align-items:center;
					a{
						line-height: 100%;
						&:first-child{
							padding-right: 7px;
							margin-right: 7px;
							border-right: 2px solid #fff;
						}
					}
    			}
    			.left{
					display:none;
					align-items:center;

					@include breakpoint($screen-sm-min){
						display:flex;
					}

					>div:nth-child(2){
						ul{
							padding: 0;
							margin: 0;
							list-style: none;
							display: flex;
							padding-right: 10px;
							li{
								padding-right: 10px;
								font-size: 14px;
								&:last-child{
									padding-right: 0;
								}
							}
						}
					}

					>div{
						padding-left:15px;
						span{
							color:#fff;
						}
					}
    			}
			}
			a{
				color: #fff;
			}
		}
		.header-main{
			background-color: rgba(255,255,255,.8);
			padding: 0;

			@include breakpoint($screen-sm-min){
				padding: 0 gutter();
			}

			// @media (min-width: 768px) and (max-width: 968px){
			// 	padding: gutter();
			// }

			// @media (min-width: 969px){
			// 	padding: 0 gutter();
			// }

			@media only screen and (max-width: 1050px) and (min-width: $screen-sm-min) {
			    >.container{
			    	justify-content: space-around;
			    }
			}
			>div{
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				.site-branding{
					.logo{
						width: $header-logo-width;

						@include breakpoint($screen-sm-min){
							width: $header-logo-width-sm;
						}

						@include breakpoint($screen-md-min){
							width: $header-logo-width-md;
						}

						img{
							width:100%;
							display:block;
						}
					}
				}

				.navbar-nav{
					li{
						@include breakpoint($screen-sm-min){
							margin-right: 15px;
						}

						.caret{
							display: none;
						}

						&:last-child{
							margin-right: 0;
						}
					}
				}
				@media (max-width: $screen-sm-min - 1){
					&{
						padding:0;
					}
					.site-branding{
						display:flex;
						justify-content: space-between;
						align-items: center;
						width: 100%;
						padding: gutter();
					}
					.main-navigation{
						width:100%;
						overflow-y: scroll;
					}
					.navbar{
					    .navbar-collapse{
					    	margin:0;
					    	overflow:hidden;
					    	padding:20px 0;
					    	background-color: #973d1f;
					    	a{
					    		color:#fff;
					    	}
					    	.navbar-nav{
					    		margin:0;
					    		padding: 0 15px;
					    	}
					    }
					}
					.mobile-toggle{
						display:block;
					}

				}
			}
		}

		.navbar{
			border:0;
		}
	}
}
.announcement-bar {
  background-color: $brand-secondary;
  color: #fff;
  padding: 5px 20px;
  p{
    margin-bottom: 0;
  }

  a {
    color: #fff;

    &:active, &:hover, &:focus {
      color: #fff;
      text-decoration: underline;
    }
  }
}
