.home-top-banner {
  .slick-track{
    display: flex;
  }

  .slick-slide{
    height: inherit !important;
  }

    .banner-item {
        position: relative;
        .home-banner-image {
            position: absolute;
            z-index: -99;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .home-banner-content {
            padding-top: 175px;
            padding-bottom: 25px;
            padding-right: 1rem;
            padding-left: 1rem;
            @media only screen and (max-width: 576px) {
                padding-top: 200px;
            }
            .home-banner-content-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .banner-content-right {
                    min-width: 400px;
                    padding-left: 1rem;
                    margin-top: 22px;

                    @media only screen and (max-width: 1200px) {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
  .home-top-banner{
  .banner-item.img-mobile-pos{
    .home-banner-image{
      img{
        object-position: 20% center;
      }
    }
  }
  }
}
