.mega-menu-toggle {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 {
    height: calc(100vh - 96px) !important;
  }
}

@include breakpoint($screen-sm-min) {
  .max-mega-menu {
    > li {
      > .mega-sub-menu {
        position: fixed !important;
        left: 0 !important;
        padding: 0 !important;

        > .mega-menu-row {
          > .mega-sub-menu {
            display: flex !important;
            justify-content: center !important;
            li,
            a {
              display: inline-block !important;
              width: auto !important;
            }
            > li {
              border-right: 1px solid #fff !important;
              padding: 50px 30px;

              &:last-child {
                border-right: 0 !important;
              }
              > .mega-sub-menu {
                display: flex !important;
                flex-direction: column !important;

                p,
                div,
                span,
                a {
                  color: #fff !important;
                  font-size: 15px !important;
                  text-transform: none !important;
                }

                .mega-block-title {
                  font-size: 16px !important;
                  font-weight: 700 !important;
                  color: #fff !important;
                }

                > li {
                  padding: 5px 0 !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include breakpoint(max-width $screen-sm-min) {
  .max-mega-menu {
    overflow: scroll !important;
    -webkit-overflow-scrolling: touch !important;
    > li {
      border-bottom: 1px solid $brand-secondary !important;

      > .mega-menu-link {
        padding: 5px 15px !important;
        box-sizing: content-box !important;
      }

      > .mega-sub-menu {
        background-color: $brand-secondary !important;
        float: none !important;
        > .mega-menu-row {
          float: none !important;
          > .mega-sub-menu {
            display: flex !important;
            justify-content: center !important;
            flex-direction: column !important;

            li,
            a {
              display: inline-block !important;
              width: auto !important;
            }
            > li {
              padding: 10px 10px;

              &:last-child {
                border-right: 0 !important;
              }
              > .mega-sub-menu {
                display: flex !important;
                flex-direction: column !important;

                p,
                div,
                span,
                a {
                  color: #fff !important;
                  font-size: 14px !important;
                  text-transform: none !important;
                }

                .mega-block-title {
                  font-size: 14px !important;
                  font-weight: 700 !important;
                  color: #fff !important;
                }

                > li {
                  padding: 2px 0 !important;
                }
              }
            }
          }
        }
      }
    }
  }

  .mega-menu-link {
    font-size: 15px !important;
  }
}

.mega-menu-link::after {
  display: none !important;
}

html,
body {
  &.locked {
    overflow: hidden;
  }
}

.nav-desktop {
  display: none;
  @include breakpoint($screen-sm-min) {
    display: block;
  }
}

.nav-mobile {
  @media (min-width: $screen-sm-min) {
    display: none;
  }
}

.home {
  .mega-sub-menu {
    display: none !important;
  }
}
