.portfolios{
	display: flex;
	flex-wrap: wrap;
	min-height: 350px;

	>div{
		box-sizing: border-box;
		width: 100%;

		@include breakpoint($screen-xs-min){
			width: 50%;
		}


		@include breakpoint($screen-sm-min){
			width: 33.33%;	
		}

		a{
			position: relative;
			display: inline-block;
			width: calc( 100% - #{gutter() * 2} );
			margin: gutter();
			img{
				width: 100%;
				transition: opacity .3s ease-in-out 0s;

				&.main{
					opacity: 1;
				}
				&.alt{
					position: absolute;
					width: 100%;
					left: 0;
					top: 0;
					opacity: 0;
				}
			}

			&:hover{
				img{
					&.main{
						opacity: 0;
					}
					&.alt{
						opacity: 1;
					}
				}
			}
		}

	}
}

.project-logo{
	img{
		width: 100%;
		max-width: 250px;
	}
}

.project-gallery{
	@include split-content($image-width: 50%, $copy-width: 50%, $copy-vertical-padding: 0, $copy-text-align: left, $copy-vertical-align: top);
}