//Testimonials

.page-testimonial{
	font-size: 15px;
	.grid-item{
		width: calc(100% - 20px);
		margin: 10px;
		margin-bottom: 50px;

		@include breakpoint($screen-sm-min){
			width: calc(50% - 20px);
		}
		.testimonial{
			@include split-content(
				$image-width: 110px, 
				$copy-width: calc( 100% - 150px ), 
				$copy-vertical-align: top, 
				$copy-vertical-margin: 0, 
				$copy-text-align: left, 
				$copy-vertical-padding: 0, 
				$breakpoint: 1000px
			);
			.split-image{
				border-radius: 50% 50% 0 50%;
				overflow:hidden;
				margin-right: 40px;
				max-width: 130px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

.site-testimonial{
	width: 100%;
	@extend .pt-sm;
	.testimonial-list{
		padding-bottom: 40px;
		.testimonial{
			@include split-content(
				$image-width: 110px, 
				$copy-width: calc( 100% - 150px ), 
				$copy-vertical-align: top, 
				$copy-text-align: center, 
				$copy-vertical-padding: 0, 
				$breakpoint: 1000px
			);
			padding: 0 50px;
			border-right: 1px solid #ababab;

			&:nth-child(even){
				border-right: 0;
			}
			.split-image{
				border-radius: 50% 50% 0 50%;
				overflow:hidden;
				margin-right: 40px;
				max-width: 130px;
				margin-left: auto;
				margin-right: auto;
			}
			.split-copy{
				@include breakpoint(1000px){
					text-align: left;	
				}
			}
		}
	}
	.slick-slide:nth-child(even){
		.testimonial{
			border-right:0;
		}
	}
}

.slick-dots li.slick-active button:before{
	opacity: 1;
	color: $brand-secondary;	
}

.slick-dots{
	>li{
		margin:0;
		>button{
			&:before{
				color: $brand-secondary;
				font-size: 12px;
			}
		}
	}
}

// End Testimonials