img{
	max-width: 100%;
	height: auto;
}

ul{

}

.site-info{
	text-align: center;
	
	@include breakpoint($screen-sm-min){
		text-align: left;
	}
}

.site-longevity{
	text-align: center;

	@include breakpoint($screen-sm-min){
		text-align: right;
	}
}


// Navigation Stuff
.nav-footer{
	
	.nav-title{
		border-bottom: solid 1px $brand-primary;
	}

	ul{
		margin: 0;
		padding: 0;
		@extend .nav;
		@extend .nav-pills;
		@extend .nav-stacked;

		.current_page_item{
			@extend .active;
		}
	}
}


// Address Card
.address-card{
	@extend .well;
	background-color: transparent;
	// border-width: 0;
}

.subtitle{
	text-transform: uppercase;
	margin-top: 0;
}

.split-content{
	@include split-content($copy-text-align: left);

	&.reverse{
		@include split-content($copy-text-align: left, $reverse: true);
	}
}

.top{
	.split-content{
		@include split-content($copy-text-align: left, $copy-vertical-align: top, $copy-vertical-padding: 0);
	}
}

.lg-social-media-cont{
	.lg-social-media{
		padding: 0;
	    margin: 0;
	    list-style: none;
	    display: flex;
	    li{
	    	padding-right: 10px;
		    &:last-child{
		    	padding-right: 0;
		    }
	    	a{
			    display: flex;
			    text-align: center;
			    justify-content: center;
			    align-items: center;
			    font-size: 18px;
	    		i{
					color:#fff;
	    		}
	    	}
	    }
	}
}

.k-feature-item{
	position: relative;
}

.top-feature-section{
	position: relative;
	// min-height: 300px;

	// @media (min-width: 768px) and (max-width: 968px){
	// 	min-height: 400px;
	// }

	// @media (min-width: 1051px){
	// 	min-height: 0;
	// }

	.carousel{
		top: 0;
	    height: 100%;
	    position: absolute;
	    left: 0;
	    width: 100%;
	}

	.overlay{
		position: relative;

		padding-top: 115px;
		@media (max-width: 411px){
			padding-top: 100px;
		}

		// @media (min-width: 768px) and (max-width: 968px){
		// 	padding-top: 200px;
		// }

		// @media (min-width: 969px){
		// 	padding-top: 115px;
		// }

		>.container{
			padding-top: 50px;
			padding-bottom: 50px;
			@media (max-width: 1050px){
				padding-top: 30px;
				padding-bottom: 30px;
			}
		}
		@media (max-width: 1050px){
			&:not(.services-overlay){
				.right{
					display: none;
				}
			}
		}

		>div{
	    	display: flex;
		    justify-content: space-between;
		    align-items: center;
		    width: 100%;
		    height: 100%;

			.right{
				width: 400px;
				margin-top: 22px;
			}

			.left{
				.content{
					flex-wrap: wrap;
					.lg-breadcrumb {
						width: 100%;
					}
					h1{
						margin: 0;
						color: #fff;
						text-shadow: 0px 1px 3px #000;
					}
				}
				.buttons{
					padding-top: 0;
					text-align: left;
					@media (max-width: 1050px){
						margin-top: 15px;
					}
				}
			}
	    }
	}

	.services-overlay{
		>div{
			display: block;
			text-align: center;
		}
		.services-overlay-list{
			display: flex;
			flex-wrap: wrap;

			>div{
				width: 50%;
				padding: gutter();
				box-sizing: border-box;
				text-align: center;

				@include breakpoint($screen-sm-min){
					width: 33.33%;
				}

				@include breakpoint($screen-md-min){
					width: 25%;
				}
			}

			.service-icon{
				max-width: 100px;
			}
		}
	}

	.top-feature-image{
		height: 300px;
		@include breakpoint($screen-sm-min){
			height: 550px;	
		}
	}
}

.lg-breadcrumb{
	color: #fff;
	font-family: $headings-font-family;
	font-weight: 600;

	a{
		font-weight: inherit;
		color: #fff;
		&:hover{
			color: #fff;
		}
	}

	.term-seprator{
		&:last-child{
			display: none;
		}
	}
}

.service-landing-page{
	.content{
		.container{
			display: flex;
			flex-wrap: wrap;
			text-align: center;
			@extend .pl-xs;
			@extend .pr-xs;

			>div:first-child{
				width: 100%; 
				@extend .mb-md;
				padding-right: 0;
			}
			>div:last-child{
				width: 100%;
				max-width: 350px;
				margin: auto;
			}

			@include breakpoint($screen-md-min){
				text-align: left;
				>div:first-child{
					width: calc( 100% - 350px); 
					margin-bottom: 0;
					padding-right: 150px;
				}
				>div:last-child{
					width: 350px;
				}
			}
		}
	}

	@media( max-width: $screen-xs ){
		.top-feature-section{
			.carousel{
				display: none;
			}
			.overlay{
				>div{
					background-color: #ece8d9;
				}
			}
		}
	}
}


.buttons{
	text-align: center;

	a{
		@extend .mt-xs;
		margin-left: 2.5px;
		margin-right: 2.5px;
	}
}



.intro-bg{
	color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;


	h1, h2, h3{
		color: #fff;
	}

	.buttons a{
		@extend .cta-secondary;
	}
}

.split-copy{
	h3:not(.color-secondary){
		margin-bottom: 8px;
	}
	.buttons{
		text-align: left;
	}
}



.tab-filter-a{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	@extend .mb-xs;

	>div{
		padding: 10px 15px;
		border: 1px solid $brand-primary;
		margin: 5px;
		cursor: pointer;

		&.active{
			background-color: $brand-primary;
			color: #fff;
		}
	}
}

.tab-filter-b{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	@extend .mb-xs;

	>div{
		padding: 0 15px;
		cursor: pointer;
		border-right: 1px solid $brand-primary;
		margin: 5px 0;
		line-height: 1rem;
		&:last-child{
			border-right: 0;
		}

		a{
			color: $text-color;
		}

		&.active{
			a{
				color: $brand-secondary;
				font-weight: 700;
			}
		}
	}
}

.half-block{
	display: flex;
	flex-wrap: wrap;

	>div{
		width: 100%;
		@include breakpoint($screen-sm-min){
			width: 50%;
		}
	}

	// &.reverse{
	// 	@include breakpoint(max-width $screen-sm-min){
	// 		>div:nth-child(2){
	// 			order: 1;
	// 		}
	// 		>div:first-child{
	// 			order: 2;
	// 		}
	// 	}
	// }
}

.lg-table{
	.table-column{

		.background-wrapper{
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-color: $brand-secondary;
			opacity: .3;
		}

		&:nth-child(1){
			.column-content{
				.column-heading{
					background-color: $brand-primary;
				}
			}
		}
		&:nth-child(2){
			.column-content{
				.column-heading{
					background-color: #1f7f76;
				}
			}
		}
		&:nth-child(3){
			.column-content{
				.column-heading{
					background-color: #25a097;
				}
			}
		}
		&:nth-child(4){
			.column-content{
				.column-heading{
					background-color: #29bab3;
				}
			}
		}

		.column-content{
			.column-heading{
				padding: gutter();
				color: #fff;
				text-align: center;
				font-size: 25px;
				font-weight: bold;
				.subtitle{
					font-size: 14px;
				}
			}
			.column-body{
				.column-body-content{
					font-size: 13px;

					>div{
						padding: 10px;
						text-align: center;
					}

					>div:nth-child(odd){
						background-color: $gray-lighter;
					}
				}
			}
		}
	}

	&.package{
		display: flex;
		flex-wrap: wrap;

		.table-column{
			&:nth-child(even){
				.column-content{
					.column-body{
						position:relative;
					}
				}
			}

			&:nth-child(odd){
				.column-content{
					.column-body{
						.background-wrapper{
							display: none;
						}
					}
				}
			}
		}

		@include breakpoint($screen-sm-min){
			flex-wrap: nowrap;
		}

		.table-column{
			width: 100%;
			@include breakpoint($screen-xs-min){
				width: 50%;
			}
			@include breakpoint($screen-sm-min){
				width: 0;
    			flex: 1;
			}
		}
	}

	&.ad-on{
	    display: flex;
	    justify-content: center;
		>.table-column{
			display: inline-block;
			.column-body{
				.column-body-content{
					>div{
						display: flex;
						justify-content: space-between;
						padding: 0;
						>div{
							padding: 10px gutter();
							&:nth-child(1){
								width: calc( 100% - 100px );
							}
							&:nth-child(2){
								width: 100px;
								text-align: center;
								position:relative;
							}
						}
					}
				}
			}
		}
	}
}

.staff-list{
	display: flex;
	flex-wrap: wrap;
	padding: gutter();

	>div{
		width: 100%;
		padding: gutter() 0;

		@include breakpoint($screen-sm-min){
			width: 50%;
		}

		@include split-content($image-width: 120px, $copy-width: calc(100% - 120px), $copy-vertical-padding:0, $copy-text-align: left,  $image-width-mobile: 150px, $breakpoint: $screen-xs-min);

		.title{
			text-transform: uppercase;
		}

		@include breakpoint(max-width $screen-xs-min){
			.split-copy{
				text-align:center;
			}
			.split-image{
				img{
					margin: auto auto;
				}
			}
		}
	}
}

.bio{
	@include split-content($image-width: 400px, $copy-width: calc(100% - 450px), $copy-vertical-padding:0, $copy-text-align: left,  $image-width-mobile: 300px, $breakpoint: $screen-md-min, $copy-vertical-align: top);

	img{
		margin: auto;
	}

	h2{
		@extend .h3;
		@extend .color-secondary;
		@extend .mt-sm;
	}
}

.selectric{
	border: 0 !important;
	.label{
		text-align: left;
		font-size: 1rem !important;
	}
}

/* ---- Video Modal ---- */

#video-modal-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.6);
    display: none;
    z-index: 999;

    .video-modal {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        max-width: $screen-md-min;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate( -50%, -50%);

        &.playing {
            .play-button {
                display: none;
            }
        }

        .video-in-modal {
            video {
                width: 100%;
                display: block;
            }
        }
        .modal-video-close {
            position: absolute;
            bottom: calc( 100% - 15px );
            right: 15px;
            line-height: 100%;
            font-size: 23px;
            padding: 6px 11px;
            background-color: #000;
            color: #fff;
            cursor: pointer;
            z-index: 3;
        }
        .play-button {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 2;
            background-color: rgba(255, 255, 255, .4);
            cursor: pointer;
            .fa-play-circle {
                font-size: 70px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate( -50%, -50%);
            }
        }
    }
}

.fa-play-circle {
    color: #fff;
    opacity: .85;
}

div.text-content{
	h1, h2, h3{
		color: $brand-secondary;
		margin-top: 1.5rem;
		margin-bottom: .5rem;
		text-transform: uppercase;
	}
	ul{
		padding-left:0;
		@extend .check-mark;
	}
}

.staff-bio-contact{
	background-image: url('/wp-content/themes/wp-web-longevity/assets/dist/images/Divider_WorkingLocals.jpg');
	@extend .intro-bg;
	text-align: center;
	@extend .h2;
	line-height: 1.5;
	a{
		color: #fff;
	}
}

.wp-image-6425{
	@media (min-width: $screen-sm-min){
		display: none;
	}
}

.awards-block {
	.awards-title {
		padding-bottom: 1.5rem;
	}
	.longevity-awards {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		a{
			width: 33%;
			margin-bottom: 30px;
			img {
				border: 2px solid #cfcfcf;
				display: block;
				margin: auto;
				
			}
		}
		
	}
}

.featured-award img {
	width: 150px;
}

@media only screen and (max-width: 1049px) {
	.featured-award {
		margin-top: 100px;
		margin-right: 30px;
	}
}

@media only screen and (max-width: 1049px) and (min-width: 768px) {
	.home .top-feature-section .overlay {
		padding-top: 20px;
	}
}

@media only screen and (max-width: 968px) {
.top-feature-section .overlay .left .content {
		display: flex;
		align-items: center;
		& > h1 {
			margin-right: 15px !important;
		}
	}
}

@media only screen and (max-width: 767px) {
	.featured-award {
		margin-top: 0px;
	}
}

@media only screen and (max-width: 767px) {
	.awards-block {
		.longevity-awards {
			a {
				width: 50%;
			}
		}
	}
}

@media only screen and (max-width: 420px){
	.awards-block {
		.longevity-awards {
			flex-direction: column;
			align-items: center;
			a {
				width: 100%;
			}
		}
	}
}

