// Padding -------------------------------------------------------------------------------------------------------------

	// Padding Top
	.pt-xs{ padding-top: $padding-base-vertical; }
	.pt-sm{ padding-top: $padding-base-vertical * 2; }
	.pt-md{ padding-top: $padding-base-vertical * 3; }
	.pt-lg{ padding-top: $padding-base-vertical * 4; }

	// Padding Right
	.pr-xs{ padding-right: $padding-base-vertical; }
	.pr-sm{ padding-right: $padding-base-vertical * 2; }
	.pr-md{ padding-right: $padding-base-vertical * 3; }
	.pr-lg{ padding-right: $padding-base-vertical * 4; }

	// Padding Bottom
	.pb-xs{ padding-bottom: $padding-base-vertical; }
	.pb-sm{ padding-bottom: $padding-base-vertical * 2; }
	.pb-md{ padding-bottom: $padding-base-vertical * 3; }
	.pb-lg{ padding-bottom: $padding-base-vertical * 4; }

	// Padding Left
	.pl-xs{ padding-left: $padding-base-vertical; }
	.pl-sm{ padding-left: $padding-base-vertical * 2; }
	.pl-md{ padding-left: $padding-base-vertical * 3; }
	.pl-lg{ padding-left: $padding-base-vertical * 4; }

	.pt-none{padding-top: 0;}
	.pb-none{padding-bottom: 0;}
	.pl-none{padding-left: 0;}
	.pr-none{padding-right: 0;}

// Margin --------------------------------------------------------------------------------------------------------------

	// Margin Top
	.mt-xs{ margin-top: $padding-base-vertical; }
	.mt-sm{ margin-top: $padding-base-vertical * 2; }
	.mt-md{ margin-top: $padding-base-vertical * 3; }
	.mt-lg{ margin-top: $padding-base-vertical * 4; }

	// Margin right
	.mr-xs{ margin-right: $padding-base-vertical; }
	.mr-sm{ margin-right: $padding-base-vertical * 2; }
	.mr-md{ margin-right: $padding-base-vertical * 3; }
	.mr-lg{ margin-right: $padding-base-vertical * 4; }

	// Margin bottom
	.mb-xs{ margin-bottom: $padding-base-vertical; }
	.mb-sm{ margin-bottom: $padding-base-vertical * 2; }
	.mb-md{ margin-bottom: $padding-base-vertical * 3; }
	.mb-lg{ margin-bottom: $padding-base-vertical * 4; }

	// Margin Left
	.ml-xs{ margin-left: $padding-base-vertical; }
	.ml-sm{ margin-left: $padding-base-vertical * 2; }
	.ml-md{ margin-left: $padding-base-vertical * 3; }
	.ml-lg{ margin-left: $padding-base-vertical * 4; }

	.mt-none{margin-top: 0;}
	.mb-none{margin-bottom: 0;}
	.ml-none{margin-left: 0;}
	.mr-none{margin-right: 0;}


// CTA ---------------

.cta{
	padding: 8px 15px;
	text-align: center;
	display: inline-block;
	font-size: .8rem;
	font-weight: 700;
	text-transform: uppercase;

	@include breakpoint($screen-sm-min){
		padding: 8px 25px;
	}
}

.cta-primary{
	@extend .cta;
	background-color: $brand-primary;
	color: #fff;
	border: 2px solid $brand-primary;
	&:hover{
		background-color: #fff;
		color: $brand-primary;
	}
}

.cta-secondary{
	@extend .cta;
	background-color: $brand-secondary;
	color: #fff;
	border: 2px solid $brand-secondary;
	&:hover{
		background-color: #fff;
		color: $brand-secondary;
	}
}

// TEXT ----------------

.text-primary{
	color: $brand-primary;
}

.text-secondary{
	color: $brand-secondary;
}

.text-white{
	color: #fff;
}

// Background  ---------------------------------------------------------------------------------------------------------


.img-full{
	width: 100%;
}

.bg-gray-base{
	background-color: $gray-base;
}

.bg-gray-darker{
	background-color: $gray-darker;
	color:#fff;
}

.bg-gray-dark{ 
	background-color: $gray-dark;
	color:#fff;
}

.bg-gray{
	background-color: $gray;
}

.bg-gray-light{
	background-color: $gray-light;
}

.bg-gray-lighter{
	background-color: $gray-lighter;
}

.bg-white{
	background-color: #fff;
}

.color-secondary{
	color: $brand-secondary;
}

.gradient-primary{
	background: linear-gradient(lighten($brand-primary, 8%), $brand-primary, #000);
}


// Not sure what or how to name this 
.btn-size{
	padding: $padding-base-vertical $padding-base-horizontal;
	display: inline-block;
}

.mobile-textcenter-xs{
	@include breakpoint(max-width $screen-xs-min){
		text-align: center;
	}
}

.center{
	text-align: center;
}

.non-visible{
	visibility: hidden;
}

.img-full{
	width:100%;
	display:block;
}

ul{
	padding-left: 20px;
}

.check-mark{
	list-style: none;
	margin-top: 10px;
	padding: 0;
	>li{
		padding-left: 26px;
		background-image: url('/wp-content/themes/wp-web-longevity/assets/dist/images/Icon_Check-01.png');
	    background-repeat: no-repeat;
	    background-size: 22px;
	    background-position: 0 2px;
	    margin-bottom: 2px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
}

.list-horizontal{
	display: flex;
	flex-wrap: wrap;

	li{
		margin-right: 20px;
		&:last-child{
			margin-right: 0;
		}
	}
}

.container{
	max-width: $container-width;
	margin-left: auto;
	margin-right: auto;
}

.container-xs{
	@extend .container;
	max-width: calc( #{$container-width} - 300px );
}