// Site Content
.site-content{
	width: 100%;

	.body-copy{
		@extend .container;
		padding: 0 gutter(); 
	}
}

// Site Footer 
.site-footer{

	#site-footer{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;

		.logo-footer{
			// @include myoutline(red);
			padding: gutter() gutter() * 2;
			width: 100%;
			@include breakpoint($screen-sm-min - 1){
				width: 270px;
			}

			@media(max-width: $screen-sm){
				text-align: center;
				img{
					max-width: 150px;
					margin: auto;
				}
			}
		}

		.footer-location-wrap{
			width: 100%;
			padding-left: 0;

			@include breakpoint($screen-sm-min - 1){
				width: calc( 100% - 290px );
				padding-left: 20px;
			}
			
			.footer-location{
				display:flex;
				flex-wrap: wrap;

				>div{
					width: 100%;
					padding: 0 15px;
					box-sizing: border-box;
					margin-bottom: 30px;

					.subtitle {
						height: 40px;
					}

					@include breakpoint($screen-xs-min){
						width: 50%;
					}

					@include breakpoint($screen-lg-min){
						width: 50%;
					}

					.lg-map{
						max-height: 200px;	
					}
				}
			}
		}

		.footer-social{
			// @include myoutline(red);
			width: 100%;

			.lg-social-media{
				justify-content: center;
				@include breakpoint($screen-sm-min){
					justify-content: flex-end;
				}
				padding: gutter();
			}
		}
	}

	#site-legal{
		>div{
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			
			.site-info{
				width: 100%;
				text-align: center;

				@include breakpoint($screen-sm-min){
					width: 50%;
					text-align: left;
				}
			}

			.site-longevity{
				width: 100%;
				text-align: center;


				@include breakpoint($screen-sm-min){
					width: 50%;
					text-align: right;
				}
			}
		}
	}

}

/** top banner styles **/ 
.home .top-feature-section {
	.overlay {
		.h1 {
			font-size: 3rem;
		}
	}
}

.top-feature-section {
	.overlay {
		.container {
			padding-top: 20px !important;
			padding-bottom: 20px !important;
		}
	}
}
/** end of top banner styles **/ 

.site-header .header-content .header-main > div .site-branding {
	.logo {
		width: 250px !important;
		@media only screen and (max-width: 411px){
			width: 175px !important;
		}
		.custom-logo-link {
			display: block;
		}
		.responsive-logo {
			display: none;
		}
	}
}
@media only screen and (max-width: 991px) and (min-width: 767px){
	.site-header .header-content .header-main > div .site-branding {
		.logo {
			width: 64px !important;
			.custom-logo-link {
				display: none;
			}
			.responsive-logo {
				display: block;
			}
		}
	}
}