html{
	font-size: $base-font-size;
	font-family: $font-family-base;
	line-height: $line-height-base;
	font-weight: $base-font-weight;

	@include breakpoint($screen-sm-min){
		font-size: $base-font-size-sm;
	}

	@include breakpoint($screen-md-min){
		font-size: $base-font-size-md;
	}
}

body{
	font-size: inherit;
}

.navbar-nav{
	a{
		font-size: $navbar-font-size;

		@include breakpoint($screen-sm-min){
			font-size: $navbar-font-size-sm;
		}

		@include breakpoint($screen-md-min){
			font-size: $navbar-font-size-md;
		}
	}
}

blockquote{
	font-size: inherit;
}

.sticky-header{
	.mobile-toggle{
		font-size: 25px;
		cursor: pointer;
	}	
}

.h1{
	font-size: 1.8rem;
	line-height: 1.4;
	@include breakpoint($screen-sm-min){
		font-size: 2.3rem;
	}
}

.h2{
	font-size: 1.2rem;
	@include breakpoint($screen-sm-min){
		font-size: 1.5rem;
	}
}

.h3{
	font-size:1rem;
	@include breakpoint($screen-sm-min){
		font-size: 1.1rem;
	}
}

.h4{
	font-size:1.3rem;
	margin-bottom: 5px;
}

a{
	font-weight: $link-font-weight;
}