// ---- Susy Grid

$susy: (
  'columns': susy-repeat(12),
  'gutters': 15px, 
  'spread': 'narrow', 
  'container-spread': 'narrow',
);

$container-width: 1200px;
 
// ----- Font Awesome

$fa-font-path:        						"./assets/dist/fonts";

// ---- Font Family

$font-family-base:							'Lato', sans-serif;
$headings-font-family:    					'Raleway', sans-serif;

// ---- Padding

$padding-base-vertical: 					15px;

// ---- Colors

$gray-base:              					#000;
$gray-darker:            					lighten($gray-base, 13.5%); // #222
$gray-dark:              					lighten($gray-base, 20%);   // #333
$gray:                   					lighten($gray-base, 33.5%); // #555
$gray-light:             					lighten($gray-base, 46.7%); // #777
$gray-lighter:           					lighten($gray-base, 93.5%); // #eee

$brand-primary:          					#2D3258;
$brand-secondary:        					#29BAB3;
$brand-primary-light:						#353f7b;

$input-bg:									#F8F8F8;
$input-border-radius:						0;
$input-border:								transparent;
$input-height-base:							30px;

$headings-color:          					$brand-primary;

// ---- Header

$header-block-padding: 						15px;

$header-logo-width: 						200px;
$header-logo-width-sm: 						250px;
$header-logo-width-md: 						250px;

//Sticky Header

$sticky-header-bg-color:					transparent;

// ---- Nav Bar

$navbar-default-bg: 						transparent;

$navbar-font-size:							17px;
$navbar-font-size-sm:						15px;
$navbar-font-size-md:						15px;

$navbar-padding-horizontal:					0;

$navbar-margin-bottom:          			0;
$navbar-height:                 			0;
$navbar-border-radius:          			0;

$navbar-default-link-color:     			$brand-primary;

$navbar-default-link-hover-color:          	$brand-primary;
$navbar-default-link-hover-bg:             	transparent;

$navbar-default-link-active-color:         	#fff;
$navbar-default-link-active-bg:            	$brand-primary;
$nav-link-padding:							10px 10px;
// ---- Typography

//$font-family-base:        				$font-family-sans-serif;
$base-font-size:         	  				15px;
$base-font-size-sm:          				16px;
$base-font-size-md:         				16px;

$line-height-base:        					25px;
$line-height-computed:						15px;

$base-font-weight:							400;
$headings-font-weight:    					700;
$headings-line-height:    					1.1;


// ---- Link
$link-color:            					$brand-secondary;
$link-hover-color:      					$brand-primary;
$link-font-weight:							normal;
$link-hover-decoration:						none;

// ---- Text
$text-color:								#333;
$font-size-h1:            2.3rem; // ~36px
$font-size-h2:            1.5rem; // ~30px
$font-size-h3:            1.1rem; // ~24px
$font-size-h4:            1rem; // ~18px
$font-size-h5:            1rem;
$font-size-h6:            1rem; // ~12px

// ---- Media Query
$screen-xs-min: 480px;
$screen-sm-min: 769px;
$screen-lg: 1201px;
